body {
    font-family: Garamond;
}

.header h1 {
    color: white;
    margin-bottom: 0;
    margin-top: 0;   
    text-align: center;
    font-size: 40px;
    background-color:#004080;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #d9d9d9;
    border-radius: 0px;
    width: 40%;
}

.header h1 img {
 float: left;

   width: 200px;
  height: 44px;
  background: #555;
}


h3 {
    color: black;
    font-size: 20px;
    margin-top: 3px;
    text-align: center;
}

#maindiv {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px; 
    width: 40%;
    height: 700px;
    border: 2px solid #b3ccff;
    border-radius: 15px;
    overflow: auto;
    background:#f5f5f0;
}


#chatbox {
    margin-left: auto;
    margin-right: auto;
}

#userInput {
    margin-left: auto;
    margin-right: auto;
}

#textInput {
    width: 84%;
    border: none;
    border-bottom: 3px solid #004080;
    font-family: monospace;
    font-size: 17px;
}

#buttonInput {
    padding:2px;
    width:25px;
    height:25px;
}

.userText {
    color: black;
    font-family: monospace;
    font-size: 17px;
    text-align: right;
    line-height: 30px;
    margin-top:15px; 
}

.userText span {
    background-color: #ffe6b3;
    padding: 10px;
    border-radius: 12px;
}

.userText span img {
    
  float: right;
  margin-left: 7px;
  margin-right:0;
  max-width: 40px;
  width: 100%;
  border-radius: 50%;
}


.botText {
    color: black;
    font-family: monospace;
    font-size: 17px;
    text-align: left;
    line-height: 30px;
    margin-top: 15px; 
}

.botText span {
    background-color: #cce6ff;
    padding: 10px;
    border-radius: 12px;
}

.botText span img {
    
  float: left;
  max-width: 50px;
  width: 80%;
  margin-right: 3px;
  border-radius: 50%;
}

#tidbit {
    position:absolute;
    bottom:0;
    right:0;
    width: 300px;
}

::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #f2f2f2; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d9d9d9; 
}

