<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
  
  <div class="header">
 
   Disclaimer:Information provided by chatbot should not be considered as authentic source of information. 
  <h1>Covid-19 FAQ Chatbot</h1>
 
  </div>
   
     
    <div id="maindiv">
      <div id="chatbox">
        <p class="botText"><span><img src = "/static/robo.png" >Hi! Ask me a query regarding Covid-19</span></p>
      </div>
      <div id="userInput">
        <input id="textInput" type="text" name="msg" placeholder="Message">
     
        <input id="buttonInput" type="image" src="/static/sendbutton.png" alt="Submit">
      </div>
      
      <script>
        function getBotResponse() {
          var rawText = $("#textInput").val();
          var userHtml = '<p class="userText"><span><img src = "/static/user.png" >' + rawText + '</span></p>';
          $("#textInput").val("");
          $("#chatbox").append(userHtml);
          document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          $.get("/get", { msg: rawText }).done(function(data) {
            var botHtml = '<p class="botText"><span><img src = "/static/robo.png" >' + data + '</span></p>';
            $("#chatbox").append(botHtml);
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          });
        }
        $("#textInput").keypress(function(e) {
            if(e.which == 13) {
                getBotResponse();
            }
        });
        $("#buttonInput").click(function() {
          getBotResponse();
        });
		
		
		function MyFunction(docurl) {
		 $.ajax({
            url: '/opendoc',
            data: {doc:docurl},
            type: 'POST',
            success: function(response) {
                console.log(response);
            },
            error: function(error) {
                console.log(error);
            }
        });
	 
		}
      </script>
    </div>
  </body>
</html>